* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }

  a {
      color: teal;
  }

  a:hover {
    color: #000080
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .error-message {
      color: red;
  }

  #js-max-results {
    margin-top: 2%;
}

.response-li {
    border: 4px solid black;
}
  
  .hidden {
    display: none;
  }